@import "../../styles/variables";

.foooter-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: $menu-bar;
  min-width: 800px;
  width: 100%;
  //padding: 1em;
  div {
    margin: 1em;
    min-width: auto;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 50px;
      min-width: 50px;
    }
  }
}
