@import "../../styles/variables";

.foooter-body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $menu-bar;
  padding: 1em;
  div {
    margin: 1em;
    &:hover {
      cursor: pointer;
    }
    img {
      width: 50px;
    }
  }
}
