@import "src/app/styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: max-content;

  .cart-container {
    display: flex;
    align-content: space-between;
    border: 1px solid $secondary-text;
    padding: 1rem;
    margin: 2rem;

    & > * {
      margin: 1rem 4rem;
      color: white;
      font-size: 20px;
      font-family: "Dubai Light";
    }

    a {
      color: white;
    }
  }

  h1 {
    font-family: "Space Marine Nominal";
    color: white;
  }

  hr {
    margin: 2rem;
  }

  p {
    font-family: "Space Marine Nominal";
    color: white;
    font-size: 20px;
  }

  .btn-1 {
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-1 a {
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    font-family: Electrofied;
  }

  span {
    position: relative;
    z-index: 3;
  }

  .btn-1 a::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -2px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    transform: scaleY(1);
  }

  .btn-1 a:hover::before {
    transform: scaleY(0);
  }

  .btn-1 a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #03dac5;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
  }

  .btn-1 a:hover::after {
    transform: scaleX(0);
    background-color: #064579;
  }
}
