@import "src/app/styles/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: max-content;

  .cart-container {
    display: flex;
    align-content: space-between;
    border: 1px solid $secondary-text;
    padding: 1rem;
    margin: 2rem;

    & > * {
      margin: 1rem 4rem;
      color: white;
      font-family: "Dubai Light";
    }

    a {
      color: white;
    }
  }

  h1 {
    font-family: "Space Marine Nominal";
    color: white;
  }

  hr {
    margin: 2rem;
  }
}
