.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  //height: 100vh;

  .selected-bar > * {
    height: 420px;
  }

  h2 {
    color: white;
    font-family: "Space Marine Nominal";
    margin: 2rem;
  }

  .gamebar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    .videologo {
      padding: 1rem;
    }

    div img {
      height: 80px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  p {
    font-family: "Dubai Light";
    color: white;

    a {
      color: white;
    }
  }

  .about-container p {
    padding-right: 25rem;
    padding-left: 25rem;
    margin-bottom: 3rem;
  }

  .requirement-container {
    display: flex;
    padding: 2rem;

    div {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
  }

  .review-container {
    margin: 2rem;
    width: 40vw;
    background-color: #064579;
    padding: 2rem;

    .review-1-container {
      display: flex;

      div {
        p {
          font-family: Electrofied;
          font-size: 10px;
          margin-left: 1rem;
        }

        img {
          padding: 3px;
          border: 1px solid white;
          height: 40px;
        }
      }

      .user-rating {
        margin-left: 20rem;
        margin-right: 1rem;
      }

      p {
        font-size: 20px;
      }
    }

    div {
      img {
        height: 30px;
      }

      img:hover {
        opacity: 0.7;
      }
    }
    .thumbs {
      display: flex;

      div {
        margin-top: 1rem;
        margin-right: 4rem;
      }
    }
  }
  input[type="submit"] {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.4);
    color: #eeeeee;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1em;
  }

  textarea {
    background-color: #404040;
    color: white;
  }

  select {
    padding: 10px;
    margin: 2% 0 1% 0;
    width: 300px;
    opacity: 0.9;
    border: none;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 1);
  }

  .game-button {
    img {
      height: 40px;
      margin: 2rem;
    }
  }
}
